
{% extends 'anawedding/base.html' %}
{% block content %}


<style>
    /* Center the chat window and message form */
    .parent-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    h1{
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }
    form{
        margin-top: 10px;
    }

</style>
<div class="parent-element">
    <div class="chat-window align-items-center justify-content-center">
        <div class="message-box received">
          <h1>{{ response|linebreaks|urlize|safe }}</h1>
        </div>
      </div>
    <form method="post" action="/">
        {% csrf_token %}
        <input type="text" name="message" placeholder="Enter a reponse">
        <input type="submit" value="Ask">
    </form>
    <p>&nbsp;</p>
    <body> 

    </body>  
</div>
{% endblock  %}

