{% extends 'anawedding/base.html' %}
{% block content %}


<style>
    /* Center the chat window and message form */
    .parent-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    h1{
        font-size: 35px;
    }
    form{
        margin-top: 35px;
    }
    /* Media query for small screens */
    @media (max-width: 700px) {
        h1, h2 {
            font-size: 16px;
        }
    }
</style>
<div class="parent-element">
    <h1>Welcome to Ana and Jacobie's wedding!!</h1>
    <h2>What would you like to know?</h2>
    <form method="post" action="{% url 'get_response' %}">
        {% csrf_token %}
        <input type="text" name="message" placeholder="Enter a reponse">
        <input type="submit" value="Ask">
    </form>
    <body> 
    Here are some suggestions:
    <br></br>
    <p>Attire</p>
    <p>Location</p>
    <p>Date</p>
    <p>Registry</p>
    <p>RSVP</p>
    <p>Schedule</p> 
    <p>Donations</p> 
    <p>Etiquette</p>
    <p>Gifts</p>
    <p>Lodging</p>
    </body>  
</div>
{% endblock  %}