{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Our Wedding - RSVP</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/tori-2-1-3.jpg' %}" rel="icon">
  <link href="{% static 'img/tori-2-1-3.jpg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MeFamily - v4.10.0
  * Template URL: https://bootstrapmade.com/family-multipurpose-html-bootstrap-template-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Our Wedding</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="/" class="logo"><img src="{% static 'img/logo.png' %}" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a  href="/details/">Details</a></li>
          <li><a href="/gallery/">Gallery</a></li>
          <li><a class="active" href="/RSVP/">RSVP</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  <main id="main">
    <p>&nbsp;</p>

    <section id="contact-us" class="contact-us">
        <div class="container" data-aos="fade-up">

      
          <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-8">
              <form id="contact-form" name="contact-form" action="/RSVP/" method="post" role="form" class="php-email-form">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="name">Your Full Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label for="subject">Phone Number</label>
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Phone Number" required>
                </div>
                <div class="form-group mt-3">
                  <label for="message">RSVP Names + Choices of Chicken or Steak</label>
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                  <button type="submit" id="submit-button">RSVP</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      
      <script>
        const form = document.querySelector('#contact-form');
        const submitButton = document.querySelector('#submit-button');
        
        form.addEventListener('submit', (event) => {
          event.preventDefault();
          const formData = new FormData(form);
          
          // Send form data to server using fetch API
          fetch('/RSVP/', {
            method: 'POST',
            body: formData
          })
          .then((response) => {
            if (response.ok) {
              // Hide submit button and show success message
              submitButton.style.display = 'none';
              document.querySelector('.sent-message').style.display = 'block';
              
              // Redirect to success page after 2 seconds
              setTimeout(() => {
                window.location.href = '/RSVP/';
              }, 2000);
            } else {
              // Handle error response
              throw new Error('Form submission failed');
            }
          })
          .catch((error) => {
            // Show error message
            document.querySelector('.error-message').textContent = error.message;
          });
        });
      </script>
  
  
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Our Wedding</h3>
      <p> <a href="/RSVP/" <p>Come and have a great time on June 3rd, 2023.</p></p> </a>
      <div class="social-links">
        <a href="https://www.github.com/jblanked" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/in/jacobie-barksdale/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>JBlanked</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>